<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Resumes</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link" href="#">Features</a>
      <a class="nav-link" href="#">Contact</a>
    </nav>
  </div>
</header>
<app-profile></app-profile>

<div class="container ">

</div>
<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Resumes demo, by Otis Chinhema.</p>
  </div>
</footer>